<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css')}}"/>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='folders.png') }}" type="image/png">
</head>
<body>

    <div class ="barre-sup">
        <div class="gauche">
            <div class="logo">
                    <img src="https://d2cljsw7d0z1ty.cloudfront.net/fileadmin/themes/default/img/logo-group-ips.svg" alt="Logo">
                </div>
        </div>
    </div>
 <form action="/" method="POST" class="container">
     <div class="boxr">
     </div>
      <div class="boxl">
            <a href="/home1" class="c5">Administration</a>
            <a href="/client" class="c5">Client</a>

     </div>
     </form>

</body>
</html>