<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleh2.css')}}"/>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='folders.png') }}" type="image/png">
</head>
<body>

    <div class ="barre-sup">
        <div class="gauche">
            <div class="logo">
                    <img src="https://d2cljsw7d0z1ty.cloudfront.net/fileadmin/themes/default/img/logo-group-ips.svg" alt="Logo">
                </div>
        </div>
        <div class="droit">
            <a href="/Gdiscipline" class="c1">Gestion des disciplines</a>
            <a href="/Gmembres" class="c2">Gestion des membres</a>
            <a href="/Grole" class="c3">Gestion des roles</a>
            <a href="/Gprojects" class="c4">Gestion des projets</a>
            <a href="/admin" class="c5">Profil Admin</a>
    </div>
    </div>
        <form action="/home2" method="POST" class="boxr">

        <h1>Documents Management System</h1>
            <h2>DMS</h2>

</form>
</body>
</html>