<!DOCTYPE html>
<html lang="an">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='tasks.jpg') }}" type="image/jpg">
    <title>Edit Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleap.css') }}">
</head>
<body>
<div class ="barre-sup">
        <div class="gauche">
            <div class="logo">
                    <img src="https://d2cljsw7d0z1ty.cloudfront.net/fileadmin/themes/default/img/logo-group-ips.svg" alt="Logo">
                </div>
        </div>
    <div class="droit">
            <a href="/home2" class="c0">Home</a>
            <a href="/Gdiscipline" class="c1">Gestion des disciplines</a>
            <a href="/Gmembres" class="c2">Gestion des membres</a>
            <a href="/Grole" class="c3">Gestion des roles</a>
            <a href="/Gprojects" class="c4">Gestion des projets</a>
        <a href="/admin" class="c5">Profil Admin</a>

        </div>
    </div>


    <form action="/modifierp/{{ row[0] }}" method="post" class="container">
        <h1>Edit Projects</h1>
        <div class="inputBox">
            <input type="text" name="Reference" value="{{ row[0] }}" autocomplete="off" required>
            <label for="Reference">Reference</label>
        </div>
        <div class="inputBox">
         <input type="text" name="Reference_Commercial" value="{{ row[1] }}" autocomplete="off" required>
                    <label for="Reference_Commercial">Reference Commercial</label>
        </div>
        <div class="inputBox">
         <input type="text" name="Titre" value="{{ row[2] }}" autocomplete="off" required>
                    <label for="Titre">Titre</label>
        </div>
         <div class="inputBox">
         <input type="date" name="Date_deb" value="{{ row[3] }}" autocomplete="off" required data-datepicker>

        </div>
         <div class="inputBox">
         <input type="date" name="Date_fin" value="{{ row[4] }}" autocomplete="off" required data-datepicker>

        </div>
         <div class="inputBox">
         <input type="text" name="Coordinateur" value="{{ row[5] }}" autocomplete="off" required>
                    <label for="Coordinateur">Coordinateur</label>
        </div>
        <button type="submit" class="button">Edit</button>
    </form>

</body>
</html>
