<!DOCTYPE html>
<html lang="an">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des Disciplines</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styler.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='folders.png') }}" type="image/png">
</head>
<body>
<div class ="barre-sup">
        <div class="gauche">
            <div class="logo">
                    <img src="https://d2cljsw7d0z1ty.cloudfront.net/fileadmin/themes/default/img/logo-group-ips.svg" alt="Logo">
                </div>
        </div>
    <div class="droit">
            <a href="/home2" class="c0">Home</a>
            <a href="/Gdiscipline" class="c1">Gestion des disciplines</a>
            <a href="/Gmembres" class="c2">Gestion des membres</a>
            <a href="/Grole" class="c3">Gestion des roles</a>
            <a href="/Gprojects" class="c4">Gestion des projets</a>
            <a href="/admin" class="c5">Profil Admin</a>

        </div>
    </div>
    <h1>Gestion Des Projets</h1>
<form action="/Gprojects" class="container">
    <table>
        <tr>
            <th>Ref</th>
            <th>Ref_com</th>
            <th>Titre</th>
            <th>Date_deb</th>
            <th>Date_fin</th>
            <th>Coordinateur</th>
            <th>Action</th>
        </tr>
        {% for row in project %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>
                    <a href="/modifierp/{{ row[0] }}" class="mod">Edit</a>
                    <a href="/supprimerp/{{ row[0] }}" class="delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/ajouterp" class="ajout">Add New</a>
</form>
</body>
</html>
